[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "content/themes/ananke"]
	path = content/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
