{{- /* layouts/partials/meta.html */ -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Site.Params.seo.ogImage }}
  <meta property="og:image" content="{{ .Site.Params.seo.ogImage | absURL }}">
{{ end }}
<title>{{ .Title }} | {{ .Site.Title }}</title>

