<footer id="site-footer">
  {{ if or (.Site.Params.footer.rssFooter) (.Site.Params.footer.socialFooter) }}
    <ul class="socnet-icons">
      {{ if .Site.Params.footer.rssFooter }}{{ partial "rss-icon" . }}{{ end }}
      {{ if .Site.Params.footer.socialFooter }}{{ partial "socnet-icon" . }}{{ end }}
    </ul>
  {{ end }}

  <p class="copyright">
    {{/* Safely handle copyright and last modified */}}
    {{ $copyright := .Site.Copyright | safeHTML }}
    {{ if $copyright }}
      {{ $copyright }}
    {{ else }}
      {{ $author := .Site.Params.author | default .Site.Title }}
      {{ $lastmod := "" }}
      {{ with .Lastmod }}
        {{ $lastmod = (.Format "2006") }}
      {{ end }}
      {{ printf "© %s %s" $lastmod $author }}
    {{ end }}
    <br>
    {{ i18n "attribution" . | safeHTML }}
  </p>
</footer>
<a id="back-to-top" href="#" class="fas fa-arrow-up fa-2x"></a>

